
* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #ADC2DC;
	font-family: 'Open Sans', sans-serif;
	
}

a {
	text-decoration: none;
}

.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 10px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 300px;
	height: 220px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	backface-visibility: hidden;
	background: #000;


}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility:hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
    background: rgba(170,166,177,0.75);
    background: -moz-linear-gradient(top, rgba(170,166,177,0.75) 0%, rgba(153,153,153,0.87) 47%, rgba(23,25,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,166,177,0.75)), color-stop(47%, rgba(153,153,153,0.87)), color-stop(100%, rgba(23,25,28,1)));
    background: -webkit-linear-gradient(top, rgba(170,166,177,0.75) 0%, rgba(153,153,153,0.87) 47%, rgba(23,25,28,1) 100%);
    background: -o-linear-gradient(top, rgba(170,166,177,0.75) 0%, rgba(153,153,153,0.87) 47%, rgba(23,25,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(170,166,177,0.75) 0%, rgba(153,153,153,0.87) 47%, rgba(23,25,28,1) 100%);
    background: linear-gradient(to bottom, rgba(170,166,177,0.75) 0%, rgba(153,153,153,0.87) 47%, rgba(23,25,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaa6b1', endColorstr='#17191c', GradientType=0 );
}
.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgb(185,210,232);
background: linear-gradient(90deg, rgba(185,210,232,1) 0%, rgba(120,170,212,0.24711134453781514) 50%, rgba(28,46,79,1) 100%);
}
.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgb(122,91,146);
background: linear-gradient(90deg, rgba(122,91,146,1) 0%, rgba(119,144,192,0.4852065826330533) 50%, rgba(118,157,203,1) 50%, rgba(28,75,131,0.33674719887955185) 50%, rgba(28,46,79,0.7849264705882353) 100%);
}
.contenedor_tarjeta:nth-child(4) figure .trasera{
	background: rgb(55,134,190);
background: linear-gradient(90deg, rgba(55,134,190,0.3302113081560749) 0%, rgba(85,192,185,1) 100%);
}

.contenedor_tarjeta:nth-child(5) figure .trasera{
	background: rgb(71,71,66);
background: linear-gradient(90deg, rgba(71,71,66,0.3302113081560749) 0%, rgba(143,139,45,0.4898751737022934) 100%);
}

figure .trasera .titulo {
	color: rgb(10, 10, 10);
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: rgb(43, 43, 43);
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}
header{
	color: rgb(0, 0, 0);
	justify-content: center;
	}

div h1{
	font-family: fantasy;
	color: rgb(3, 3, 3);
	justify-content: center;
	padding-right: 50px;
	display: flex;
	}
a{
	color: rgb(0, 0, 0);
	font-weight:600;
	padding-right: 30px;
	margin: 10px;
}
a:hover{
	color:rgb(240, 240, 242) ;
}
@media (max-widht:700px){
	body{
		flex-direction: column;

	}
	div h1{
		padding: 10px 0px;
	}
}