
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to bottom, #728DBF, #6D737B);;
  padding: 60px 10px;
  clip-path: polygon(0 0, 10% 20%, 20% 10%, 30% 30%, 40% 20%, 50% 40%, 60% 30%, 70% 50%, 80% 30%, 90% 60%, 100% 40%, 100% 100%, 0 100%);
  -webkit-clip-path: url("#footerClipPath");
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.svg-clip {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.contacts__title{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 10px;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contacts-container > div{
    display: flex;
    color: var(--black);
    font-size: 2.3rem;
    font-weight: 700;
    gap: 10px;
    align-items: center;
}
.contacts-container > div p{
    margin: 0;
}
.email__img img ,.phone__img img{
    width: 30px;
    height: 30px;
    filter: drop-shadow(2px 4px 6px var(--black));

}